<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javierbravo.yep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WaveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WaveTheme">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="X8lVdxNBSLlbK2MfaAtkqh2GmUcNEGxQmxavtzWE" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="P2OqZpdz5jtcKK1WkuAwpBgQTfIWJQNVLTcLS1Yr" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/WaveTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity">
        </activity>
    </application>

</manifest>
