<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javierbravo.yep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera2"/>


    <application
        android:name=".WaveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WaveTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="RnVgwT4upWUHOC1FB71u0hr0tuT6dnHHeAS3klgE" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="MqDohXcQfBIYieMIbAQI7PJuIQ1zeboieYWGqYWY" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/WaveTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/WaveTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditFriendsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
